.img-container {
  width: 250px;
  height: 250px;
}
.card {
  text-align: center;
  display: inline-block;
  width: 600px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
.cat-container {
  margin-top: 20px;
}
